.title {
  font-size:2.5vw;
  margin-left:10%;
  margin-right:10%;
  margin-bottom: 2%;
  color:#3d6ab1;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.text {
  margin-left:10%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  width:80%;
  font-size:23px;
  font-weight:400;
  line-height:1.5;
  font-family: "Helvetica Neue", sans-serif;
  color: #636363;
}

.subheader {
  font-size:2.4em;
  font-weight:bold;
  color:#3d6ab1;
  font-family: "Helvetica Neue", sans-serif;
  margin-left:10%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  margin-left:4%;
}

.img {
  width:20%;
  margin-right:10%;
  margin-top: -12%;
  height: auto;
  z-index:-1;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.imgBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.nextBtn {
  float:right;
  margin-right: 10%;
  width: 10vw;
  text-align: center;
  padding: 20px 0px 20px 0px;
  background: #3d6ab1;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}